<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Voting Portal</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/jumbotron.css" rel="stylesheet">
  </head>

   <body>
      
        <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
            <div class="container">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/">Welcome to Online Voting Portal</a>

          <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
            </ul>
          </div>
        </div>
        </nav>
      
       <div class="jumbotron">
          <div class="container">
              <br>
            <h1 class="display-2">Let's Vote India!</h1>
              <br>
            <h4 class="display-6">Vote for your right leader.</h4>
          </div>
        </div>
    <div class="container">
    <div class="card-deck">
      <div class="card card-inverse" style="background-color: #333; border-color: #333">
        <img class="card-img-top" src="https://unsplash.it/300/252" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">BJP</h4>
            <p class="card-text">Bhartiya Janta Party</p>
            <a href="#" class="btn btn-primary">Vote</a>
        </div>
      </div>
        <div class="card card-inverse" style="background-color: #333; border-color: #333">
        <img class="card-img-top" src="https://unsplash.it/300/250" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">CONGRESS</h4>
          <p class="card-text">Congress</p>
            <a href="#" class="btn btn-primary">Vote</a>
        </div>
      </div>
        <div class="card card-inverse" style="background-color: #333; border-color: #333">
        <img class="card-img-top" src="https://unsplash.it/300/251" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">AAP</h4>
          <p class="card-text">Aam Aadmi Party</p>
            <a href="#" class="btn btn-primary">Vote</a>
        </div>
      </div>
       </div>
       </div>
    </body>

    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../static/dist/js/bootstrap.min.js"></script>
</html>